# Pandas

* Jake VanderPlas. 2016. *Python Data Science Handbook: Essential Tools for Working with Data*. O'Reilly Media, Inc.
* Chapter 3 - Data Manipulation with Pandas
* https://github.com/jakevdp/PythonDataScienceHandbook

Pandas provides:

* Rich I/O Capabilities (read/write data from/to CSV, Excel, SQL, JSON, etc.)
* 1-dimensional (**Series**) and 2-dimensional tabular (**DataFrame**) data structures.
* Data flexibility (handles missing data, time series, and heterogeneous data types).
* Labeled Rows and columns for data alignment
* Flexible indexing, slicing, fancy indexing, and subsetting of large datasets.

In [1]:
import numpy as np
import pandas as pd
pd.__version__

'2.2.3'

In [2]:
# type TAB to get the numpy namespace
#pd.

## Pandas Series

* One-dimensional array of indexed data
* Two key attributes:
   * `values` : NumPy array
   * `index` : an array-like object of type `pd.Index`

In [3]:
d = pd.Series([0.25, 0.5, 0.75, 1.0])
print(f'd =\n{d}')
print(f'{d.values = }')
print(f'{ d.index = }')

d =
0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
d.values = array([0.25, 0.5 , 0.75, 1.  ])
 d.index = RangeIndex(start=0, stop=4, step=1)

Series can be created from NumPy arrays:

In [4]:
d = pd.Series(np.linspace(0,4,6))
d

0    0.0
1    0.8
2    1.6
3    2.4
4    3.2
5    4.0
dtype: float64

A series can be indexed just like a NumPy array:

In [5]:
d = pd.Series(np.arange(10,15))
print(f'{      d[3] = }')  # simple index --> scalar
print(f'{     d[3:] = }')  # slice --> series
print(f'{    d[3:4] = }')  # slice --> series
print(f'{d[[1,3,0]] = }')  # fancy index --> series
print(f'{    d[[1]] = }')  # fancy index --> series

      d[3] = 13
     d[3:] = 3    13
4    14
dtype: int64
    d[3:4] = 3    13
dtype: int64
d[[1,3,0]] = 1    11
3    13
0    10
dtype: int64
    d[[1]] = 1    11
dtype: int64

But... Pandas Series can have an **explicit index**
   * If not provided, an **implicit int index** is used `[0,1,...,n-1]`

In [6]:
d = pd.Series(np.arange(10,15), index=["a","b","c","d","e"])
print(f'd =\n{d}')
# WARNING "treating keys as positions is deprecated"  --> use Series.iloc[pos]
#print(f'{d[1] = }')
print(f'{d["b"] = }')

d =
a    10
b    11
c    12
d    13
e    14
dtype: int64
d["b"] = 11

### Slicing - Case 1 - non-integer explicit index
   * Both non-integer (explicit) and integer (implicit) slices can be used.
   * non-integer slice &rarr; **label-based indexing** &rarr; $[from,to]$
   * integer slice &rarr; **position-based indexing** &rarr; $[from,to)$

<br>

In [7]:
d = pd.Series([100,101,102,103,104], index=["a","b","c","d","e"])
print(f'd =\n{d}')
print(f'{d["a"] = }  {d["c"] = }') # references explicit index
print(f'{d["a":"c"].values = }')   # references explicit index
print(f'{d[0:2].values = }')       # references implicit index

d =
a    100
b    101
c    102
d    103
e    104
dtype: int64
d["a"] = 100  d["c"] = 102
d["a":"c"].values = array([100, 101, 102])
d[0:2].values = array([100, 101])

### Slicing - Case 2 - integer explicit index
   * Slicing is <u>always referred to implicit indexes</u>.
   * integer slice &rarr; **position-based indexing** &rarr; $[from,to)$

<br>

In [8]:
d = pd.Series([100,101,102,103,104], index=[1,5,4,2,3])
print(f'd =\n{d}')
print(f'{d[1] = }  {d[3] = }') # references explicit index
print(f'{d[1:3].values = }')   # references implicit index

d =
1    100
5    101
4    102
2    103
3    104
dtype: int64
d[1] = 100  d[3] = 104
d[1:3].values = array([101, 102])

### Fancy Indexing
   * Label-based indexing
   * Using position-based indexing is deprecated 

<br>

In [9]:
d = pd.Series([100,101,102,103,104], index=["a","b","c","d","e"])
print(f'{d[["a","b","c"]].values = }')   # references implicit index
# WARNING "treating keys as positions is deprecated"  --> use Series.iloc[pos]
#print(f'{d[[1,2,3]].values = }')   # references implicit index

d = pd.Series([100,101,102,103,104], index=[1,5,4,2,3])
print(f'{d[[1,2,3]].values = }')   # references explicit index

d[["a","b","c"]].values = array([100, 101, 102])
d[[1,2,3]].values = array([100, 103, 104])

### Series and dictionaries
* Series are kind of specialized Python dictionaries $\{index_{typed \,\&\, ordered} \to value_{typed}\}$ 
* `pd.Series(dict)` &rarr; create a Series from a dictionary
* `pd.Series.to_dict()` &rarr; create a dictionary from a Series<br><br>

In [10]:
d1 = pd.Series([100,101,102], index=["a","b","c"])
x = d1.to_dict()
d2 = pd.Series(x)
print(f'd1 =\n{d1}')
print(f'{x = }')
print(f'd2 =\n{d2}')

d1 =
a    100
b    101
c    102
dtype: int64
x = {'a': 100, 'b': 101, 'c': 102}
d2 =
a    100
b    101
c    102
dtype: int64

* `.keys()` &rarr; `.index` <br><br>

In [11]:
d = pd.Series([100,101,102,103,104], index=["a","b","c","d","e"])
print(f'{type(d.index) == type(d.keys()) = }')
print(f'{d.index == d.keys() = }')
print(f'{d.index is d.keys() = }')

type(d.index) == type(d.keys()) = True
d.index == d.keys() = array([ True,  True,  True,  True,  True])
d.index is d.keys() = True

 <br>
 
 * $\nexists\;\;$ `.values()`

* `.items()` &rarr; `zip` object of `(index,value)` <br><br>

In [12]:
d = pd.Series([100,101,102,103,104], index=["a","b","c","d","e"])
print(f'{d.items() = }')
print(*d.items())

d.items() = <zip object at 0x7fe86dd74100>
('a', 100) ('b', 101) ('c', 102) ('d', 103) ('e', 104)

<br>

* `x in series` &rarr; checks if Series index contains `x`

In [13]:
d = pd.Series([100,101,102,103,104], index=["a","b","c","d","e"])
print(f'{102 in d = }')
print(f'{"xxx" in d = }')

102 in d = False
"xxx" in d = False

## Pandas DataFrame

* DataFrames are kind of specialized Python dictionaries $\{index_{typed \,\&\, ordered} \to series\}$ with a common row index
* Kind of *Series of Series* with a common row index
* * Three key attributes:
   * `values` : NumPy array
   * `index` and `columns`: array-like objects of type `pd.Index`

<br>

In [14]:
cities = ['California','Texas','Florida','New York']
population = pd.Series([39538223,29145505,21538187,20201249], index=cities)
area = pd.Series([423967, 695662, 170312, 141297], index=cities)
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    39538223  423967
Texas         29145505  695662
Florida       21538187  170312
New York      20201249  141297

* The `index` attribute (*row index*) and `columns` attribute (*column index*) are of type `pd.Index`
* The `values` attribute (of type `np.ndarray`) contains the data

<br>

In [15]:
states.index

Index(['California', 'Texas', 'Florida', 'New York'], dtype='object')

<br>

In [16]:
states.columns

Index(['population', 'area'], dtype='object')

<br>

In [17]:
states.values

array([[39538223,   423967],
       [29145505,   695662],
       [21538187,   170312],
       [20201249,   141297]])

A DataFrame can be constructed from a single series:<br><br>

In [18]:
cities = ['California','Texas','Florida','New York']
population = pd.Series([39538223,29145505,21538187,20201249], index=cities)
states = pd.DataFrame(population, columns=['population'])
states

            population
California    39538223
Texas         29145505
Florida       21538187
New York      20201249

A DataFrame can be constructed from a dictionary of Series:<br><br>

In [19]:
cities = ['California','Texas','Florida','New York']
population = pd.Series([39538223,29145505,21538187,20201249], index=cities)
area = pd.Series([423967, 695662, 170312, 141297], index=cities)
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    39538223  423967
Texas         29145505  695662
Florida       21538187  170312
New York      20201249  141297

A DataFrame can be constructed from list of dictionaries:<br><br>

In [20]:
data = [
    {'population':39538223, 'area':423967},
    {'population':29145505, 'area':695662},
    {'population':21538187, 'area':170312},
    {'population':20201249, 'area':141297}
]
states = pd.DataFrame(data, index=["California","Texas","Florida","New York"])
states

            population    area
California    39538223  423967
Texas         29145505  695662
Florida       21538187  170312
New York      20201249  141297

A DataFrame can be constructed from a two-dimensional NumPy array:<br><br>

In [21]:
data = np.array([[39538223,   423967],
          [29145505,   695662],
          [21538187,   170312],
          [20201249,   141297]])
states = pd.DataFrame(data,
                      columns=["population","area"],
                      index=["California","Texas","Florida","New York"])
states

            population    area
California    39538223  423967
Texas         29145505  695662
Florida       21538187  170312
New York      20201249  141297

A DataFrame can integrate indexes in different orders<br><br>

In [22]:
cities1 = ['California','Texas','Florida','New York']
population = pd.Series([39538223,29145505,21538187,20201249], index=cities1)
cities2 = ['Texas','Florida','New York','California']
area = pd.Series([695662, 170312, 141297, 423967], index=cities2)
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    39538223  423967
Florida       21538187  170312
New York      20201249  141297
Texas         29145505  695662

A DataFrame can integrate indexes with different values
* *Missing* values are filled with `NaN`s <br><br>

In [23]:
cities1 = ['California','Texas','Florida']
population = pd.Series([39538223,29145505,21538187], index=cities1)
cities2 = ['Texas','Florida','New York']
area = pd.Series([695662, 170312, 141297], index=cities2)
states = pd.DataFrame({'population':population, 'area':area})
states

            population      area
California  39538223.0       NaN
Florida     21538187.0  170312.0
New York           NaN  141297.0
Texas       29145505.0  695662.0

## Pandas Index
* Kind of Immutable NumPy array
* Many NumPy attributes, indexable, sliceable, etc. <br><br>

In [24]:
ind = pd.Index(['California', 'Texas', 'Florida'])
ind
print(f'{         ind = }')
print(f'      {ind[1] = }')
print(f'     {ind[:2] = }')
print(f'{ind[[2,0,1]] = }')
print(f'{ind.size=} {ind.shape=} {ind.ndim=} {ind.dtype=}')

         ind = Index(['California', 'Texas', 'Florida'], dtype='object')
      ind[1] = 'Texas'
     ind[:2] = Index(['California', 'Texas'], dtype='object')
ind[[2,0,1]] = Index(['Florida', 'California', 'Texas'], dtype='object')
ind.size=3 ind.shape=(3,) ind.ndim=1 ind.dtype=dtype('O')

In [25]:
ind = pd.Index([200, 1000, 300])
print(f'{         ind = }')
print(f'      {ind[1] = }')
print(f'     {ind[:2] = }')
print(f'{ind[[2,0,1]] = }')
print(f'{ind.size=} {ind.shape=} {ind.ndim=} {ind.dtype=}')

         ind = Index([200, 1000, 300], dtype='int64')
      ind[1] = 1000
     ind[:2] = Index([200, 1000], dtype='int64')
ind[[2,0,1]] = Index([300, 200, 1000], dtype='int64')
ind.size=3 ind.shape=(3,) ind.ndim=1 ind.dtype=dtype('int64')

`pd.Index` follows many of the conventions of Python's `set`

* `idx1.union(idx2)` &rarr; combines elements from both Indexes
* `idx1.intersection(idx2)` &rarr; elements that are common to both Indexes
* `idx1.difference(idx2)` &rarr; elements in `idx1` that are not in `idx2`
* `idx1.symmetric_difference(idx2)` &rarr; elements in either, but not in both
* `idx1.equals(idx2)` &rarr; checks if they contain the same elements in the same order

<br>

In [26]:
idx1 = pd.Index([1,2,3,4,5])
idx2 = pd.Index([4,5,6,7])
print(f'{idx1.union(idx2) = }')
print(f'{idx1.intersection(idx2) = }')
print(f'{idx1.difference(idx2) = }')
print(f'{idx1.symmetric_difference(idx2) = }')
print(f'{idx1.equals(idx2) = }')

idx1.union(idx2) = Index([1, 2, 3, 4, 5, 6, 7], dtype='int64')
idx1.intersection(idx2) = Index([4, 5], dtype='int64')
idx1.difference(idx2) = Index([1, 2, 3], dtype='int64')
idx1.symmetric_difference(idx2) = Index([1, 2, 3, 6, 7], dtype='int64')
idx1.equals(idx2) = False

## Indexing and Selection

In [107]:
cities = ['California', 'Texas', 'Florida', 'New York', 'Pennsylvania']
area = pd.Series([423967, 695662, 170312, 141297, 119280], index=cities)
population = pd.Series([39538223, 29145505, 21538187, 20201249, 13002700], index=cities)
gdp = pd.Series([3.9, 2.7, 1.3, 1.8, 1.0], index=cities) # Gross Domestic Product 
df = pd.DataFrame({'area':area, 'population':population, 'GDP':gdp})
df

                area  population  GDP
California    423967    39538223  3.9
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
New York      141297    20201249  1.8
Pennsylvania  119280    13002700  1.0

* Simple Indexing &rarr; column selection (**Series**)

In [28]:
df['area']
# KeyError: 0
#df[0]

California      423967
Texas           695662
Florida         170312
New York        141297
Pennsylvania    119280
Name: area, dtype: int64

* Fancy Indexing &rarr; columns selection (**DataFrame**)

In [29]:
df[['GDP','area']]

              GDP    area
California    3.9  423967
Texas         2.7  695662
Florida       1.3  170312
New York      1.8  141297
Pennsylvania  1.0  119280

In [30]:
df[['area']]

                area
California    423967
Texas         695662
Florida       170312
New York      141297
Pennsylvania  119280

* Slicing &rarr; rows selection (**DataFrame**)

In [31]:
df[:2]

              area  population  GDP
California  423967    39538223  3.9
Texas       695662    29145505  2.7

In [32]:
df[1:2]

         area  population  GDP
Texas  695662    29145505  2.7

In [33]:
df[2:2]

Empty DataFrame
Columns: [area, population, GDP]
Index: []

### Combining columns & rows selection
* columns are selected with fancy indexes
* rows are selected with (position) slicing

In [34]:
df[['area','population']][:3]

              area  population
California  423967    39538223
Texas       695662    29145505
Florida     170312    21538187

In [35]:
df[:3][['area','population']]

              area  population
California  423967    39538223
Texas       695662    29145505
Florida     170312    21538187

### Accessing the data through `df.values`
   * `df.values` &rarr; homogeneous NumPy array
   * Series values dtypes can be promoted

In [36]:
print(f'{df.values = }')
print(f'{df.values.dtype = }')
print(f'{df['area'].dtype = }')
print(f'{df['population'].dtype = }')
print(f'{df['GDP'].dtype = }')

df.values = array([[4.2396700e+05, 3.9538223e+07, 3.9000000e+00],
       [6.9566200e+05, 2.9145505e+07, 2.7000000e+00],
       [1.7031200e+05, 2.1538187e+07, 1.3000000e+00],
       [1.4129700e+05, 2.0201249e+07, 1.8000000e+00],
       [1.1928000e+05, 1.3002700e+07, 1.0000000e+00]])
df.values.dtype = dtype('float64')
df['area'].dtype = dtype('int64')
df['population'].dtype = dtype('int64')
df['GDP'].dtype = dtype('float64')

### Masking with comparison operator
* Let `op` be an operator
* `Series op value` &rarr; broadcasted operation &rarr; Series
* `DataFrame op value` &rarr; broadcasted operation &rarr; DataFrame

In [37]:
df * 10

                 area  population   GDP
California    4239670   395382230  39.0
Texas         6956620   291455050  27.0
Florida       1703120   215381870  13.0
New York      1412970   202012490  18.0
Pennsylvania  1192800   130027000  10.0

In [38]:
df > 2

              area  population    GDP
California    True        True   True
Texas         True        True   True
Florida       True        True  False
New York      True        True  False
Pennsylvania  True        True  False

In [39]:
df['GDP'] > 2

California       True
Texas            True
Florida         False
New York        False
Pennsylvania    False
Name: GDP, dtype: bool

Boolean Series/DataFrame can be used as indexes
* Boolean Series &rarr; select rows
* Boolean DataFrame &rarr; select elements (and fill with `NaN`)

In [40]:
df[df['GDP'] > 2]

              area  population  GDP
California  423967    39538223  3.9
Texas       695662    29145505  2.7

In [41]:
df[df > 2]

                area  population  GDP
California    423967    39538223  3.9
Texas         695662    29145505  2.7
Florida       170312    21538187  NaN
New York      141297    20201249  NaN
Pennsylvania  119280    13002700  NaN

Find the area for cities with `GDP>1` and `population<30000000`:

In [42]:
df[df['GDP'] > 1]

              area  population  GDP
California  423967    39538223  3.9
Texas       695662    29145505  2.7
Florida     170312    21538187  1.3
New York    141297    20201249  1.8

In [43]:
df[(df['GDP']>1) & (df['population']<30000000)]

            area  population  GDP
Texas     695662    29145505  2.7
Florida   170312    21538187  1.3
New York  141297    20201249  1.8

In [44]:
df[(df['GDP']>1) & (df['population']<30000000)]['area']

Texas       695662
Florida     170312
New York    141297
Name: area, dtype: int64

### Indexers: `.loc` and `.iloc`
* `.loc` &rarr; explicit indexing (and slicing) 
* `.iloc` &rarr; implicit indexing (and slicing)
* NumPy style indexing
   * `.loc[i]` &rarr; row `i` 
   * `.loc[i,j]` &rarr; row `i` , column `j` 
   * Simple Indexing, Fancy Indexing and Slicing

In [45]:
df

                area  population  GDP
California    423967    39538223  3.9
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
New York      141297    20201249  1.8
Pennsylvania  119280    13002700  1.0

In [46]:
df.loc['Florida']

area            170312.0
population    21538187.0
GDP                  1.3
Name: Florida, dtype: float64

In [47]:
df.loc[['Florida','Texas']]

           area  population  GDP
Florida  170312    21538187  1.3
Texas    695662    29145505  2.7

In [48]:
df.loc[:'Florida']

              area  population  GDP
California  423967    39538223  3.9
Texas       695662    29145505  2.7
Florida     170312    21538187  1.3

In [49]:
df.iloc[2]

area            170312.0
population    21538187.0
GDP                  1.3
Name: Florida, dtype: float64

In [50]:
df.iloc[[2,1]]

           area  population  GDP
Florida  170312    21538187  1.3
Texas    695662    29145505  2.7

In [51]:
df.iloc[:3]

              area  population  GDP
California  423967    39538223  3.9
Texas       695662    29145505  2.7
Florida     170312    21538187  1.3

In [52]:
df.loc['Florida','population']

21538187

In [53]:
df.loc[['California','Florida'],'population']

California    39538223
Florida       21538187
Name: population, dtype: int64

In [54]:
df.loc[['California','Florida'],:]

              area  population  GDP
California  423967    39538223  3.9
Florida     170312    21538187  1.3

Using `.iloc` is similar to using `df.values`, but maintaining the DataFrame structure (vs. homogeneous NumPy array)

In [55]:
df.iloc[:2,[0,2]]

              area  GDP
California  423967  3.9
Texas       695662  2.7

In [56]:
df.values[:2,[0,2]] , df.values[:2,[0,2]].dtype

(array([[4.23967e+05, 3.90000e+00],
        [6.95662e+05, 2.70000e+00]]),
 dtype('float64'))

## Modifying DataFrames Through Indexing
* The indexing can be used to modify a DataFrame
   * Modify values
   * Add/remove columns
   * Add/remove rows

### Modifying DataFrame values

* Simple indexing &rarr; column assignment

In [57]:
df2 = df.copy()
df2['area'] = 0
df2

              area  population  GDP
California       0    39538223  3.9
Texas            0    29145505  2.7
Florida          0    21538187  1.3
New York         0    20201249  1.8
Pennsylvania     0    13002700  1.0

* Fancy Indexing &rarr; coumns assignment

In [58]:
df2 = df.copy()
df2[['area','GDP']] = 0
df2

              area  population  GDP
California       0    39538223    0
Texas            0    29145505    0
Florida          0    21538187    0
New York         0    20201249    0
Pennsylvania     0    13002700    0

* Slicing &rarr; rows assignment

In [59]:
df2 = df.copy()
df2[:2] = 0
df2

                area  population  GDP
California         0           0  0.0
Texas              0           0  0.0
Florida       170312    21538187  1.3
New York      141297    20201249  1.8
Pennsylvania  119280    13002700  1.0

* Asigning to `df.values[i,j]` does not touch the dataframe

In [60]:
df2 = df.copy()
df2.values[:2,:2] = 0
df2

                area  population  GDP
California    423967    39538223  3.9
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
New York      141297    20201249  1.8
Pennsylvania  119280    13002700  1.0

* Series masking (index is a boolean Series) &rarr; rows asignment

In [61]:
df2 = df.copy()
print(df2['GDP']>2)
df2[df2['GDP']>2] = 0
df2

California       True
Texas            True
Florida         False
New York        False
Pennsylvania    False
Name: GDP, dtype: bool

                area  population  GDP
California         0           0  0.0
Texas              0           0  0.0
Florida       170312    21538187  1.3
New York      141297    20201249  1.8
Pennsylvania  119280    13002700  1.0

* DataFrame masking (index is a boolean DataFrame) &rarr; *elements* asignment

In [62]:
df2 = df.copy()
print(df2>2)
df2[df2>2] = 0
df2

              area  population    GDP
California    True        True   True
Texas         True        True   True
Florida       True        True  False
New York      True        True  False
Pennsylvania  True        True  False

              area  population  GDP
California       0           0  0.0
Texas            0           0  0.0
Florida          0           0  1.3
New York         0           0  1.8
Pennsylvania     0           0  1.0

* `.loc` and `.iloc` &rarr; *subset* asignment

In [63]:
df2 = df.copy()
df2.loc[['California','New York'],'population':] = 0
df2

                area  population  GDP
California    423967           0  0.0
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
New York      141297           0  0.0
Pennsylvania  119280    13002700  1.0

In [64]:
df2 = df.copy()
df2.iloc[[0,3],1:] = 0
df2

                area  population  GDP
California    423967           0  0.0
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
New York      141297           0  0.0
Pennsylvania  119280    13002700  1.0

### Adding/Removing columns
   * **Add**: `df[new_index] = value`
   * **Remove**: `del df[index]` or `df.drop(index, axis=1, inplace=True)`

In [65]:
# add column 'density'
df2 = df.copy()
df2['density'] = df2['population'] / df2['area']
df2

                area  population  GDP     density
California    423967    39538223  3.9   93.257784
Texas         695662    29145505  2.7   41.896072
Florida       170312    21538187  1.3  126.463121
New York      141297    20201249  1.8  142.970120
Pennsylvania  119280    13002700  1.0  109.009893

In [66]:
# remove column 'population'
df2 = df.copy()
del df2['population']
df2

                area  GDP
California    423967  3.9
Texas         695662  2.7
Florida       170312  1.3
New York      141297  1.8
Pennsylvania  119280  1.0

In [67]:
# remove column 'population'
df2 = df.copy()
df2.drop('population', axis=1, inplace=True)
df2

                area  GDP
California    423967  3.9
Texas         695662  2.7
Florida       170312  1.3
New York      141297  1.8
Pennsylvania  119280  1.0

In [74]:
# remove columns ['area','population']
df2 = df.copy()
df2.drop(['area','population'], axis=1, inplace=True)
df2

              GDP
California    3.9
Texas         2.7
Florida       1.3
New York      1.8
Pennsylvania  1.0

### Adding/Removing rows
   * **Add**: `df.loc[new_index] = value` (WARNING &rarr; homogeneous DataFrame)
   * **Remove**: `df.drop(index, axis=0, inplace=True)`

In [68]:
# add row 'chicago'
df2 = df.copy()
df2.loc['Chicago'] = [111111,22222222,2.0]
df2

                  area  population  GDP
California    423967.0  39538223.0  3.9
Texas         695662.0  29145505.0  2.7
Florida       170312.0  21538187.0  1.3
New York      141297.0  20201249.0  1.8
Pennsylvania  119280.0  13002700.0  1.0
Chicago       111111.0  22222222.0  2.0

In [69]:
# remove row 'New York'
df2 = df.copy()
df2.drop('New York', axis=0, inplace=True)
df2

                area  population  GDP
California    423967    39538223  3.9
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
Pennsylvania  119280    13002700  1.0

In [71]:
# remove rows ['California','New York']
df2 = df.copy()
df2.drop(['California','New York'], axis=0, inplace=True)
df2

                area  population  GDP
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
Pennsylvania  119280    13002700  1.0

## Operating on Data
   * Arithmetic operators and NumPy functions can be applied to Series/DataFrames
   * Indexes are preserved
   * Binary operations/functions align the indexses
      * Can manage incomplete data inserting `NaN`s

### Index Preservation

In [109]:
df

                area  population  GDP
California    423967    39538223  3.9
Texas         695662    29145505  2.7
Florida       170312    21538187  1.3
New York      141297    20201249  1.8
Pennsylvania  119280    13002700  1.0

In [105]:
df * 10

              population   GDP
California     395382230  39.0
Texas          291455050  27.0
Florida        215381870  13.0
New York       202012490  18.0
Pennsylvania   130027000  10.0

In [79]:
np.log(df[['area','population']])

                   area  population
California    12.957411   17.492778
Texas         13.452619   17.187811
Florida       12.045387   16.885338
New York      11.858619   16.821255
Pennsylvania  11.689229   16.380668

Python operators have their equivalent Pandas object methods:

| Python operator | Pandas method(s)                |
|-----------------|---------------------------------|
| `+`             | `add`                           |
| `-`             | `sub`, `subtract`               |
| `*`             | `mul`, `multiply`               |
| `/`             | `truediv`, `div`, `divide`      |
| `//`            | `floordiv`                      |
| `%`             | `mod`                           |
| `**`            | `pow`                           |

### Index Alignment

In [118]:
x = pd.Series({'A': 10,'B': 20})
y = pd.Series({'B': 4, 'A': 5})
x / y

A    2.0
B    5.0
dtype: float64

In [119]:
x = pd.Series({'A': 10,'B': 20, 'C':30})
y = pd.Series({'B': 4, 'C': 5, 'D':3})
x / y

A    NaN
B    5.0
C    6.0
D    NaN
dtype: float64

In [120]:
df1 = pd.DataFrame({
    'first':pd.Series([1,2],index=["A","B"]),
    'second':pd.Series([1,2],index=["A","B"])})
df2 = pd.DataFrame({
    'first':pd.Series([3,2],index=["A","C"]),
    'second':pd.Series([2,4],index=["A","C"])})

In [121]:
df1

   first  second
A      1       1
B      2       2

In [122]:
df2

   first  second
A      3       2
C      2       4

In [123]:
df1 + df2

   first  second
A    4.0     3.0
B    NaN     NaN
C    NaN     NaN

Pandas arithmetic functions have a `fill_value` parameter to be used in place of missing entries:

In [124]:
df1.add(df2)

   first  second
A    4.0     3.0
B    NaN     NaN
C    NaN     NaN

In [125]:
df1.add(df2, fill_value=0)

   first  second
A    4.0     3.0
B    2.0     2.0
C    2.0     4.0

In [126]:
df1.loc['C']=0
df1

   first  second
A      1       1
B      2       2
C      0       0

In [127]:
df2.loc['B']=0
df2

   first  second
A      3       2
C      2       4
B      0       0

In [128]:
df1 + df2

   first  second
A      4       3
B      2       2
C      2       4

## Handling Missing Data

## Hierarchical Indexing???

## Combining Datasets: Concat and Append